.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.App-header {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
}

input[type="file"] {
  border: 2px dashed #ddd;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
